<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-03-29T09:12:11Z</date>
	<key>WorkspacePath</key>
	<string>/Users/liemnh2/Desktop/Learn/iOS/fpt-software.udemy.com_SwiftUI Masterclass 2022 - iOS 15 App Development &amp; Swift 5/SWIFTUI-APP-05/Students/Todo/Todo.xcodeproj</string>
</dict>
</plist>
